* {
  box-sizing: border-box;
}
body {
  text-align: center;
  background-image: url("img/books.jpeg");
  background-size: 100%;
}
.container {
  margin-top: 10%;
}
.col-sm-6 button {
  margin-left: 5%;
}
.answer {
  display: none;
}
.row {
  margin-left: 35%;
}
.messages li {
  list-style: none;
}
.logOut {
  margin-top: 5%;
  margin-left: 2%;
}
